.Front-Carroussel {
	max-width: 100pc;
	max-height: 100pc;
}

.Carrousel-btn {
    bottom: 1000px;
    text-align: center;
    align-content: center;
    margin-left: 90px;
	background-color: #DA0E15;
    
}
.Mission-header {
    text-align: center;
    font-family: allan;
    font-style: normal;
    font-weight: 700;
    color: #DA0E15;
}
.middle-box {
    text-align: center;
    font-family: allan;
    font-style: normal;
    font-weight: 700;
    color:#DA0E15;
    background-color: #E1DFDF;
    background-size: contain;
}

.bag {
    background-image: url(../Images/graffiti.jpg);
    background-size: contain;
} 

.fontco {
    color: #DA0E15;	
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lead {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}
.MissionBox {
	background-image: url(../Images/buildingsround.jpg);
	width: 100%;
	height:400px;
	float: right;
	background-size: 800px;
	clear: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Mission-msg{
	Font-family: allan;
	font-style: normal;
	
}


body {
	background-image: url(../Images/light.jpg);
	width: 100%;	
}


/*------Product page-----*/

.single-product {
	margin-top: 70px;
	
}

.new-arrival {
	
	background: #DA0E15;
	width:50px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	
	
}

.col-md-7 h2 {
    color: #DA0E15;
	font-family: allan;
	
}


 .price {
	color: #DA0E15;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	
}

input {
	
	border:1px solid;
	font-weight: bold;
	height:33px;
	width: 30px;
	text-align: center;
	
}

.single-product .btn-primary{
    background: #DA0E15;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.product-description h5 {
	
	margin-top: 50px;
	color: #DA0E15;
}

.product-description p {
	
	margin-top: 30px;
	
}
	
.sizechoi{
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 50px;
    bottom: 40px;
}
	


.carousel-item {

	width: 100%;
    
}

.sizecalculator {
    float: right;
   display: inline-block;
	margin-bottom: 30px;
}

.sizecal{
    color: #DA0E15;
    font-family: allan;
    font-size: xx-large;
	text-align: center;
}

.material{
    position: relative;
    bottom: 25px;
}

/*--------Design-choice---------------------------------------*/

.design-paragraph{
	background-color: lightgray;
	
}

.centered     ..,.,. {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------Contact-Page----------------------------------------------*/

.bottom_Contact {
	
	border: 0px solid ;
    background-color: #E1DFDF ;
	font-family: allan; 
	
}


.upper_Contact {
	
	border: 0px solid ;
	background-color: #E1DFDF ; 

	
}

.email {
	
	border: 0px solid ;
	color: #212020 ;
}

.phone {
	
	border: 0px solid ;
	color: #212020 ;
	
}

.Insta {
	
	border: 0px solid ; 
	color: #212020 ;
}


.Twitter {
	
	border: 0px solid ;
	color: #212020 ;
	
	
}

.fontco {
	
	color: #DA0E15;
}

.email a:link {
	
	color: #212020;

}

.Insta a:link {
	
	color: #212020;

}

.Twitter a:link {
	
	color: #212020;
	
}
.Contact_Form_Icon {
	
	color: #212020;
}

.Contact_Form_Text {
	
	color: #212020;
}

.Insta_Link {
	
	color: #212020;
}

.Insta_Logo {
	
	color: #212020;
}

.Twitter_Text {
	
	color: #212020;
	
}

.Twitter_Logo {
	
	color: #212020;
}


.Container_Form {
	
	height: 800px;
	width: 1200px;
}

.Col_Form {
	
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 0px;
		
}

.fa-8x {
	
	 font-family: 'FontAwesome';
  src: url('your/path/fontawesome-webfont.eot?v=3.0.1');
  src: url('your/path/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('your/path/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('your/path/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
}

/*--------AboutUs--------*/

containeraboutus {
    width: 500px;
    max-width: 500px;
}


.colourteam {
    background-color: #E1DFDF;
    margin-bottom: 55px;
    margin-top: 16px;	
}

.jumbotronaboutus {
    margin-top: 20px;
    text-align: center;
    background-color: #E1DFDF;
}






.aboutusvalues {
	background-color: #E1DFDF;
	text-align: center;
	
	
	
}
	


.readertext  {
font-size:	36px; 
	color: #555;
	font-weight: bold;
	
	
	
}

.aboutusvaluestext {
	
	fontsize: 24px;
	color: #333;
	font-weight: bold;
}

#team img {
margin-top: -50px;

}

#team i{
	
	font-size:26px;
	color: #555;
	
}


#team p{
	font-weight: 500;

} 


#team .card{
	border-radius: 0;
	box-shadow: 5px 5px 15px #e74c3c;
	transition: all 0.3s ease-in;
	webkit-tranistion: all 0.3s ease-in;
	moz-transition: all 0.3 ease-in;
	
	
	
}

#team .card:hover{
	background: #e74c3c;
	color: #fff;
	border-radius: 5px;
	border: none;
	box-shadow: 5px 5px 10px #9E9E9E;
	
	
	
}

#TEAM .card:hover .readertext, #team  .card:hover i{
	color: #FFF; 
	
	
	
	
}





.aboutusvalues {
    background-color: #E1DFDF;
    margin-top: 60px;
    margin-right: 84px;
	margin-left: 84px;

}

/*---------------NAVBAR-------------*/
header
{
	position: absolute;
	z-index: 0;
	width: 100%;
	
}

.navbar
{
	padding: 20px 0;
}

.navbar-brand
{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	color: #262626;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	
}

.navbar-brand img
{
	width: 140px;
}

.nav-item
{
	font-weight: 800;
	text-transform: uppercase;
	
}
.navbar-light .navbar-nav .nav-item .nav-link:hover, 

.navbar-light .navbar-nav .nav-item.active .nav-link 
{
	background: #262626;
	color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link
{
    color: #262626;
    padding: 5px 15px;
    margin-left: 23px;
    margin-right: 48px;
}

.navbar-light .navbar-toggler
{
	border: none;
	color: #fff;
	border: 2px solid #7f7f77;
	border-radius: 0;
	outline: none; 
}

.navbar-collapse .navbar .navbar-expand-lg .navbar-light .bg-light
{
	background: #f8f9fa;
}


/*-------------footer-------------------------*/

footer {
	width:100%;
	background-color: #9F9F9F;
	padding: 30px 0px;

}

footer .action {
	float: right;
	text-align: inline;

}

footer .col-sm-4 {
	text-align: center;
}
