.Front-Carroussel {
	max-width: 100pc;
	max-height: 100pc;
}

.Carrousel-btn {
    bottom: 1000px;
    text-align: center;
    align-content: center;
    margin-left: 90px;
	background-color: #DA0E15;
    
}
.Mission-header {
    text-align: center;
    font-family: allan;
    font-style: normal;
    font-weight: 700;
    color: #DA0E15;
}
.middle-box {
    text-align: center;
    font-family: allan;
    font-style: normal;
    font-weight: 700;
    color: #DA0E15;
    background-color: #E1DFDF;
    background-size: contain;
}

.bag {
    background-image: url(../Images/graffiti.jpg);
    background-size: contain;
} 

.fontco {
    color: #DA0E15;	
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lead {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
}
.MissionBox {
	background-image: url(../Images/buildingsround.jpg);
	width: 100%;
	height: 400px;
	float: right;
	background-size: 800px 400px;
	clear: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Mission-msg{
	Font-family: allan;
	font-style: normal;
	
}


body {
    background-image: url(/Images/light.jpg)
}


/*------Product page-----*/

.single-product {
	margin-top: 70px;
	
}

.new-arrival {
	
	background: #DA0E15;
	width:50px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	
	
}

.col-md-7 h2 {
    color: #DA0E15;
	font-family: allan;
	
}


 .price {
	color: #DA0E15;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	
}

input {
	
	border:1px solid;
	font-weight: bold;
	height:33px;
	width: 30px;
	text-align: center;
	
}

.single-product .btn-primary{
    background: #DA0E15;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.product-description h5 {
	
	margin-top: 50px;
	color: #DA0E15;
}

.product-description p {
	
	margin-top: 30px;
	
}
	
.sizechoi{
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 50px;
    bottom: 40px;
}
	


.carousel-item {

	width: 100%;
    
}

.sizecalculator {
    float: right;
   display: inline-block;
	margin-bottom: 30px;
}

.sizecal{
    color: #DA0E15;
    font-family: allan;
    font-size: xx-large;
	text-align: center;
}

.material{
    position: relative;
    bottom: 25px;
}

/*--------Design-choice------*/

.design-paragraph{
	background-color: lightgray;
	
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


